<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Document</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Kartu Tanda Mahasiswa</h1>
        <hr/>
    NAMA :<l th:text="${psket1}"></l>
    <br/><br/></br>
    NIM :<l th:text="${paket2}"></l>
    <br/><br/></br>
    PRODI :<l th:text="${paket3}"></l>
    <br/><br/></br>
    EMAIL :<l th:text="${paket4}"></l>
    <br/><br/></br>
    IMAGE :
    <br/>
    <img th:src="${paket5}" style="height:border-box ">
    
    </body>
</html>
